<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.xxtime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.NFC" />

    <!-- 百度支付需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.activity.XxtimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 启动页 -->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity android:name=".activity.LoginActivity" />
        <!-- 注册 -->
        <activity android:name=".activity.RegisterActivity" />
        <!-- web -->
        <activity android:name=".activity.WebH5Activity" />

        <!-- 首页 -->
        <activity android:name=".activity.HomeActivity" />
        <!-- 忘记密码 -->
        <activity android:name=".activity.ForgetActivity" />
        <!-- 重置密码 -->
        <activity android:name=".activity.ResetActivity" />
        <activity android:name=".activity.CityChooseActivity" />
        <activity android:name=".activity.SocialActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b7d5b33ef7b5192f501cd3a4d7f94f54" />

        <activity android:name=".activity.JobSearchActivity" />
        <activity android:name=".activity.WelfareActivity" />
        <activity android:name=".activity.JobDetailsActivity" />
        <activity android:name=".activity.FirmHomeActivity" />

        <!-- 图片大图预览 -->
        <activity android:name=".activity.PhotosFullActivity" />
        <activity android:name=".activity.RecruitActivity" />
        <activity android:name=".activity.RecruitNumberActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.ApplyActivity" />
        <activity android:name=".activity.BannerDetailsActivity" />
        <activity android:name=".activity.OnlineJobActivity" />
        <activity android:name=".activity.PerfectInfoActivity" />
        <activity android:name=".activity.SelectAreaActivity" />
        <activity android:name=".activity.SelectLanguageActivity" />
        <activity android:name=".activity.BrowseInfoActivity" />
        <activity android:name=".activity.PersoninfoActivity" />
        <activity android:name=".activity.AuthenticationActivity" />
        <activity android:name=".activity.WalksActivity" />
        <activity android:name=".activity.MyFollowActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AlterMobileActivity" />
        <activity android:name=".activity.AlterPwdActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.JoinActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.MymoneyActivity" />
        <activity android:name=".activity.AlipayActivity" />
        <activity android:name=".activity.WeixinActivity" />
        <activity android:name=".activity.TradeListActivity" />
        <activity android:name=".activity.ExtractActivity" />
        <activity android:name=".activity.SelectPayActivity" />
        <activity android:name=".activity.SincerityActivity" />
        <activity android:name=".activity.RechargeActivity" />

        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 银联支付 sdk -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />

        <!-- QPay支付 android:scheme 建议填写规则:qwallet + APP_ID -->
        <activity
            android:name="com.pingplusplus.android.QPayCallBackActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwalletXXXXXXXX" />
            </intent-filter>
        </activity>

        <!-- 百付宝 sdk -->
        <activity
            android:name="com.baidu.paysdk.login.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.OrderHomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PayResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PcPwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdSetAndConfirmActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPaySmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardNoActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCredit2Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCreditActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindSmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.SelectBindCardActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SignChannelListActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />

        <!-- 壹收款 -->
        <activity
            android:name="com.pingplusplus.libone.PayActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pingpp_title_activity_pay"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.pingplusplus.libone.PaySuccessActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pingpp_title_activity_pay_sucessed" />
        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".activity.InviteActivity" />
        <activity android:name=".activity.MsgFollowActivity" />
        <activity android:name=".activity.MsgApplyActivity" />
        <activity android:name=".activity.MsgSalaryActivity" />
        <activity android:name=".activity.MsgWithdrawActivity" />
        <activity android:name=".activity.MsgSystemActivity" />
        <activity android:name=".activity.ToemployedActivity" />
        <activity android:name=".activity.ToaccountdActivity" />
        <activity android:name=".activity.NoemployActivity" />
        <activity android:name=".activity.AssessedActivity" />
        <activity android:name=".activity.ToassessActivity" />
        <activity android:name=".activity.ToSignActivity" />
        <activity android:name=".activity.StoodActivity" />
        <activity android:name=".activity.JobStatusActivity" />
        <activity android:name=".activity.AssessActivity"></activity>
        <activity android:name=".activity.ScanActivity"></activity>
    </application>

</manifest>