<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.xxtime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.NFC" />

    <!-- 百度支付需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- QQ -->
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- WEIXIN -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--二维码扫描权限-->
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:name=".base.activity.XxtimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="false">

        <!-- 启动页 -->
        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <!-- 注册 -->
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <!-- web -->
        <activity android:name=".activity.WebH5Activity"
            android:screenOrientation="portrait"/>

        <!-- 首页 -->
        <activity android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <!-- 忘记密码 -->
        <activity android:name=".activity.ForgetActivity"
            android:screenOrientation="portrait"/>
        <!-- 重置密码 -->
        <activity android:name=".activity.ResetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CityChooseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SocialActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b7d5b33ef7b5192f501cd3a4d7f94f54" />

        <activity android:name=".activity.JobSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WelfareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JobDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FirmHomeActivity"
            android:screenOrientation="portrait"/>

        <!-- 图片大图预览 -->
        <activity android:name=".activity.PhotosFullActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecruitActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecruitNumberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ApplyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BannerDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.OnlineJobActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PerfectInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectAreaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectLanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BrowseInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PersoninfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AuthenticationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WalksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MyFollowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlterMobileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlterPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JoinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MymoneyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AlipayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WeixinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TradeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ExtractActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectPayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SincerityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RechargeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ShareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InviteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MsgFollowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MsgApplyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MsgSalaryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MsgWithdrawActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MsgSystemActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ToemployedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ToaccountdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NoemployActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AssessedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ToassessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ToSignActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.StoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JobStatusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AssessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SchoolJobActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LablesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectSchoolActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SelectDegreeActivity"
            android:screenOrientation="portrait"></activity>

        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 银联支付 sdk -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />

        <!-- QPay支付 android:scheme 建议填写规则:qwallet + APP_ID -->
        <activity
            android:name="com.pingplusplus.android.QPayCallBackActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwalletXXXXXXXX" />
            </intent-filter>
        </activity>

        <!-- 百付宝 sdk -->
        <activity
            android:name="com.baidu.paysdk.login.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.OrderHomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PayResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.PcPwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdSetAndConfirmActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.PwdPaySmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardNoActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCredit2Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindCardDetailCreditActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.baidu.paysdk.ui.BindSmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.baidu.paysdk.ui.SelectBindCardActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:screenOrientation="portrait"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.paysdk.ui.SignChannelListActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="@bool/bd_wallet_switch_global_debug"
            android:hardwareAccelerated="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />

        <!-- 壹收款 -->
        <activity
            android:name="com.pingplusplus.libone.PayActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pingpp_title_activity_pay"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.pingplusplus.libone.PaySuccessActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pingpp_title_activity_pay_sucessed" />


        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105580420" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="xxtime" />
            </intent-filter>
        </activity>

    </application>

</manifest>